<section>
	<section>
		<h2 id="tools">How do I compile this stuff?</h2>
		<ol>
			<li>Sass - The original Ruby Gem. http://github.com/sass/sass</li>
			<li>Compass - The Compass Gem: http://compass-style.org/</li>
			<li>LibSass - A C library http://github.com/sass/libsass</li>
			<li>Node-Sass: A NodeJS native bindinf for libSass http://github.com/sass/node-sass</li>
		</ol>
		<aside class="notes">
			<ul>
				<li>Ask for language preferences</li>
			</ul>
		</aside>
	</section>
	<section>
		<h2>Warning</h2>
		<img src="{{assets}}/assets/DangerWillRobinson.jpg" alt="Robot from the show Lost in Space, saying 'Danger Will Robinson'">
		<p>Not all compilers support the features of the Ruby version :(</p>
	</section>
</section>