<section>
	<section>
		<h2 id="tools">How do I compile this stuff?</h2>
		<ol>
			<li>The Ruby Gem: http://github.com/sass/sass</li>
			<li>The C Library: http://github.com/sass/libsass</li>
			<li>The NodeJS: http://github.com/sass/node-sass</li>
		</ol>
		<aside class="notes">
			<ul>
				<li>Ask for language preferences</li>
			</ul>
		</aside>
	</section>
</section>