<section>
	<section>
		<h2>_Partials</h2>
		<p>Partials let you build a sheet that doesn't compile to a CSS file</p>
	</section>
	<section>
		<h2>Why would you use partials</h2>
		<ul>
			<li>Global variables</li>
			<li>Functions and Mixins utility sheets</li>
			<li>@media query specific sheets</li>
		</ul>
	</section>
	<section>
		<h2>How to make a partial</h2>
		<ol>
			<li>Rename your file to add "_" at the front</li>
			<li>Profit$$$</li>
		</ol>
	</section>
</section>