<section>
	<select>
		<h2>SCSS Lint</h2>
		<p><a href="https://github.com/causes/scss-lint">https://github.com/causes/scss-lint</a></p>
		<p>This allows you to create coding guidelines for your team, and warns you when you might be making mistakes</p>
	</select>
</section>