<section>
	<h2>Links, Links, Links</h2>
	<ul>
		<li>Blogs/Sites (mostly from http://sass-lang.com/community)
			<ul>
				<li><a href="http://sass-lang.com/">sass-lang.com</a></li>
				<li><a href="//thesassway.com/">The Sass Way</a></li>
				<li><a href="//css-tricks.com/search-results/?q=sass">CSS-Tricks</a></li>
				<li><a href="//benfrain.com/tag/sass/">Ben Frain</a></li>
				<li><a href="//zurb.com/blog/sass">Zurb</a></li>
				<li><a href="//net.tutsplus.com/?s=sass">NetTuts</a></li>
				<li><a href="//viget.com/inspire/search/YTo2OntzOjg6ImtleXdvcmRzIjtzOjQ6InNhc3MiO3M6MTE6InNlYXJjaF9tb2RlIjtzOjM6ImFsbCI7czoxMToicmVzdWx0X3BhZ2UiO3M6MTQ6Imluc3BpcmUvc2VhcmNoIjtzOjEwOiJjb2xsZWN0aW9uIjthOjE6e2k6MDtzOjE6IjEiO31zOjEwOiJsb29zZV9lbmRzIjtiOjE7czo4OiJjYXRlZ29yeSI7czozOiIxMjUiO30">Viget Inspire</a></li>
				<li><a href="//www.google.com/cse?cx=partner-pub-1988806651014029%3A4kuybaak597&amp;ie=ISO-8859-1&amp;q=sass#gsc.tab=0&amp;gsc.q=sass&amp;gsc.page=1">Unmatched Style</a></li>
			</ul>
		</li>
		<li>Weekly mailers
			<ul>
				<li><a href="http://SassNews.com">SassNews.com</a>: a MailChimp powered weekly newsletter</li>
			</ul>
		</li>
		<li>Others you'd like to share?</li>
	</ul>
	<aside class="notes">
		<ul>
			<li></li>
		</ul>
	</aside>
</section>